.container {
    font-family: Verdana;
    display: flex;
    width: 1063px;
    margin: 0 auto;
    position: relative;
}

.logo {
    width: 46px;
    height: 44px;
}

a:link  {
    text-decoration: none;
}

a.name-big, a.name-small {
    color: white;
    padding-left: 15px;
}

.name-big {
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
}

.name-small {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

li {
    list-style-type: none;
    padding: 0;
}

.name {
    margin-top: 1px;
}

.logo-name {
    display: flex;
    margin-top: 49px;
    margin-bottom: 45px;
}

.text-contact {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: white;
    text-align: right;
    margin-top: 55px;
    margin-bottom: 47px;
    position: absolute;
    right: 0;
}

.logo-name:hover a {
    color: #f26522;
    z-index: 1;
}

.img-hover {
    position: absolute;
    top: 49px;
    z-index: -1;
}