.background {
    background: url("../images/background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.first-items {
    position: relative;
    display: flex;
    width: 308px;

}

.drop-content {
    display: none;
    position: absolute;
    top: 141px;
    background-color: #f26522;
    width: 312px;
    height: 61px;
    z-index: 1;
}

.drop-content2 {
    display: none;
    position: absolute;
    top: 582px;
    background-color: #f26522;
    width: 312px;
    height: 61px;
    z-index: 1;
}

.sightseeing-tours {
    margin-left: 66px;
    margin-right: 66px;
}

.art-architecture {
    margin-left: 66px;
    margin-right: 66px;
}

.shopping-tours:hover .drop-content {
    display: block;
    margin: 0 auto;
}

.sightseeing-tours:hover .drop-content {
    display: block;
    margin: 0 auto;
}

.food-tours:hover .drop-content {
    display: block;
    margin: 0 auto;
}

.bars-nightlife:hover .drop-content2 {
    display: block;
    margin: 0 auto;
}

.art-architecture:hover .drop-content2 {
    display: block;
    margin: 0 auto;
}

.walking-tours:hover .drop-content2 {
    display: block;
    margin: 0 auto;
}

.shopping-tours:hover a {
    color: #f26522;
}

.sightseeing-tours:hover a {
    color: #f26522;
}

.food-tours:hover a {
    color: #f26522;
}

.bars-nightlife:hover a {
    color: #f26522;
}

.art-architecture:hover a {
    color: #f26522;
}

.walking-tours:hover a {
    color: #f26522;
}


a.name-tour {
    font-family: Verdana;
    font-size: 18px;
    color: white;
    display: block;
    padding-top: 10px;
}

.img-items {
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, white 0%, black 100%);
    border-image-slice: 1;
    box-shadow: 0px 17px 24px 0px #000000;
}

a:link {
    text-decoration: none;
}


.price-form {
    font-family: Verdana;
    color: #ffffff;
    font-size: 10px;
    margin-top: 13px;
    margin-left: -250px;
}

.price {
    font-family: Verdana;
    color: #ffffff;
    font-size: 20px;
}

.details {
    font-family: Verdana;
    color: #ffffff;
    font-size: 14px;
    margin-left: 140px;
}

.first-items {
    display: flex;
    width: 1063px;
    margin: 0 auto;
    text-align: center;
}

.second-items {
    display: flex;
    width: 1063px;
    margin: 60px auto;
    text-align: center;
}

footer {
    font-family: Verdana;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 61px;
}

.tours:hover a {
    color: #f26522;
}

.tours1:hover a {
    color: #f26522;
}
